<!--<router-outlet name="topmenu"></router-outlet>-->
<div class="container-fluid">
    <div class="row mt-75">
        <div class="col-xl-3"></div>
        <div class="col-xl-6"><br>

            <h3 class="text-secondary card-title text-center"><span class="fa fa-tachometer" aria-hidden="true"></span> Tableau de bord</h3><hr>

            <a href="/artisan/lesDemandes">
                <div class="card border-secondary mb-3" >
                    <div class="card-body text-secondary">
                    <h5 class="card-title text-center"><span class="fa fa-inbox" aria-hidden="true"></span> Accéder aux demandes de prestation</h5>
                    </div>
                </div>
            </a>

            <br>

            <a href="/artisan/mesPropositions">
                <div class="card border-secondary mb-3" >
                    <div class="card-body text-secondary">
                    <h5 class="card-title text-center"><span class="fa fa-list" aria-hidden="true"></span> Mes Propositions</h5>
                    </div>
                </div>
            </a>

            <br>

            <a href="/artisan/mesServices">
                <div class="card border-secondary mb-3 bg-light">
                    <div class="card-body text-secondary">
                    <h5 class="card-title text-center"><span class="fa fa-wrench" aria-hidden="true"></span> Mes Services</h5>
                    </div>
                </div>
            </a>

            <br>

            <a href="/artisan/monCompte">
                <div class="card border-secondary mb-3">
                    <div class="card-body text-secondary">
                    <h5 class="card-title text-center"><span class="fa fa-user-circle-o" aria-hidden="true"></span> Gérer mon compte</h5>
                    </div>
                </div>
            </a>

        </div>
        <div class="col-xl-3"></div>
    </div>
</div>